.Colorful {
  background-color: pink;
}
h1 {
  font-family: Verdana; 
  color: green; 
  text-align: center;
}
p {
  font-family: Verdana;
}
li {
  font-family: Verdana;
}
a {
  font-family: Verdana;
}
h2 {
  font-family: Verdana;
}
.row {
  text-align: center;
}
